button {
  font-size: inherit;
  border: 1px solid white;
}

button:focus {
  outline: none !important;
}

button:hover:enabled {
  color: white;
}

button:active:enabled {
  background-color: gray;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.die {
  margin: 5px 0;
  background-color: #EEE;
  border: 1px solid white;
  padding: 0;
}

.die button {
  background-color: lightblue;
  padding: 5px;
  width: 100%;
}

.die-label {
  font-size: small;
}

.die-remove button {
  font-size: small;
  padding: 5px;
  width: 100%;
  background-color: pink;
}

#total-display {
  font-size: large;
}

#adders button {
  background-color: yellowgreen;
}

#controllers button {
  background-color: orange;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
